html {
  height: 100%;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: Outfit, Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-container {
  height: 100%;
}

.qr-container {
  background-color: white;
  width: 20em;
  border-radius: 20px;
  padding: 1em 1em 1em 1em;
}

.qr-code {
  text-align: center;
}

h2 {
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  padding-left: 0.7em;
  padding-right: 0.7em;
}

img {
  border-radius: 10px;
  width: 100%;
}
